@tailwind base;
@tailwind components;
@tailwind utilities;

.circle1 {
	clip-path: circle(150px at var(--x1) var(--y1));
}
.circle2 {
	clip-path: circle(150px at var(--x2) var(--y2));
}
.circle3 {
	clip-path: circle(150px at var(--x3) var(--y3));
}
.circle4 {
	clip-path: circle(150px at var(--x4) var(--y4));
}
.circle5 {
	clip-path: circle(150px at var(--x5) var(--y5));
}
.circle6 {
	clip-path: circle(150px at var(--x6) var(--y6));
}
.circle7 {
	clip-path: circle(150px at var(--x7) var(--y7));
}
.circle8 {
	clip-path: circle(150px at var(--x8) var(--y8));
}
.circle9 {
	clip-path: circle(150px at var(--x9) var(--y9));
}
.circle10 {
	clip-path: circle(150px at var(--x10) var(--y10));
}
